<nav class="skip-links">
  <h2 class="screen-reader-text">{{ site.data.ui-text[site.locale].skip_links | default: '' }}</h2>
  <ul>
    <li><a href="#site-nav" class="screen-reader-shortcut">{{ site.data.ui-text[site.locale].skip_primary_nav | default: '' }}</a></li>
    <li><a href="#main" class="screen-reader-shortcut">{{ site.data.ui-text[site.locale].skip_content | default: '' }}</a></li>
    <li><a href="#footer" class="screen-reader-shortcut">{{ site.data.ui-text[site.locale].skip_footer | default: '' }}</a></li>
  </ul>
</nav>
